{
  "rules": {
    "indent": [2, 2], // check 2 space indentation
    "no-mixed-spaces-and-tabs": [2],
    "quotes": [2, "double"],
    "semi": [1, "always"],

    // disabled rule which enforce unix or windows line breaks
    "linebreak-style": [0],

    // disabled comma-dangle is safe for our use case
    "comma-dangle": [0],

    // disabled eqeqeq and no-use-before-define are safe if you use them correctly
    "eqeqeq": [0],
    "no-use-before-define": [0],
  },
  "env": {
    "es6": true
  },
  "globals": {
  }
}
