{
  "rules": {
    "quotes": [2, "double"],
    "semi": [1, "always"],

    "indent": [0, 2],
    "linebreak-style": [0],
    "eqeqeq": [0],
    "new-cap": [0]
  },
  "env": {
    "es6": true,
    "browser": true,
    "amd": true
  },
  "globals": {
    "define": true,
    "require": true,
    "requirejs": true,

    "Str": true,
    "Locale": true,
    "Options": true
  }
}
