/* See license.txt for terms of usage */

/******************************************************************************/
/* Packets Panel */

.packetPanel {
  margin-bottom: 6px;
  font-size: 11px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
}

.packetPanel .packetBox {
  display: inline-block;
  max-width: 90%;
}

.packetPanel .packetContent {
  display: flex;
}

.packetPanel.receive .boxArrow {
  background-image: url("../res/received-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-right: -1px;
  order: 1;
  width: 8px;
  z-index: 2;
  min-width: 8px;
}

.packetPanel.receive.selected .boxArrow {
  background-image: url("../res/received-arrow-selected.png");
}

.packetPanel.send .boxArrow {
  background-image: url("../res/sent-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-left: -1px;
  order: 3;
  width: 9px;
  min-width: 9px;
  z-index: 2;
}

.packetPanel.send.selected .boxArrow {
  background-image: url("../res/sent-arrow-selected.png");
}

.packetPanel .body {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border: 1px solid #bfccd1;
  border-radius: 3px;
  min-width: 270px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
  order: 2;
  z-index: 1;
}

.packetPanel.receive .body {
  background-color: rgb(252, 248, 227);
}

.packetPanel.send .body {
  background-color: rgb(223, 240, 216);
  text-align: left;
}

.packetPanel.send {
  text-align: left;
}

.packetPanel.send {
  text-align: right;
}

.packetPanel .body .text {
  color: gray;
}

.packetPanel.error .body {
  background-color: rgb(255, 221, 221);
}

.packetPanel.selected .body {
  border-color: rgb(0, 170, 214);
  background-color: rgb(173, 211, 232);
}

.packetPanel .type,
.packetPanel .to,
.packetPanel .from {
  color: red;
  font-family: monospace;
}

.packetPanel .info {
  color: gray;
  font-size: 10px;
  text-align: right;
  margin-left: 20px;
  display: inline-flex;
  font-family: monospace;
  float: right;
  padding-top: 2px;
}

.packetPanel .arrow {
  margin: 0 5px 0 5px;
}

.packetPanel .arrow.hide {
  display: none;
}
.packetPanel .from {
  padding-bottom: 5px;}

.packetPanel .errorMessage {
  color: red;
  margin-bottom: 5px;
}

/******************************************************************************/
/* Inline Packet Details Preview */

.packetPanel .preview {
  overflow: auto;
  width: 100%;
}

.packetPanel .memberRow:hover {
  background-color: transparent;
}

.packetPanel .domTable > tbody > tr > td {
  border-bottom: transparent;
}

/******************************************************************************/

.packetsPanelBox {
  height: 100%;
}

.packetsPanelBox TD {
  vertical-align: top;
}

.packetsPanelBox .list {
  /* xxxHonza: minus the toolbar height*/
  height: calc(100% - 30px);
  overflow: auto;
  padding: 10px;
}

.packetsPanelBox .details {
  border-left: 1px solid #EFEFEF;
  height: 100%;
  overflow: auto;
}

.tabPacketsPane {
  height: 100%;
  padding: 0px;
}

/******************************************************************************/
/* Packets Summary */

.packetsSummary {
  color: gray;
  font-size: 10px;
  border-top: 1px dotted #EFEFEF;
  margin: 10px 0 20px 0;
  padding: 2px 0 2px 0;
}

.packetsSummary DIV {
  display: inline-block;
}

.packetsSummary .time {
  float: right;
  font-family: monospace;
}

.packetsSummary .separator {
  width: 20px;
}

.packetsSummary .text {
  padding-right: 3px;
}

.packetsSummary .slash {
  width: 10px;
  text-align: center;
}

.tooltip-inner {
  max-width: 110px;
}
