/* See license.txt for terms of usage */

/******************************************************************************/
/* Tree Editor View */

/* remove button on editable field */
.domTable.editable .memberRow .closeButton {
  display: none;
  position: absolute;
  right: 2px;
}

.domTable.editable .memberRow:hover .closeButton {
  display: inline-block;
}

/* new field row */
.domTable.editable .memberRow.newRow {
  background: #FFFEE1;
}

.domTable.editable .memberRow.newRow input {
  border: none;
  background: transparent;
  width: 100%;
}

.domTable.editable .memberRow.editRow input {
  border: 1px groove;
  width: 100%;
}

.domTable.editable .memberRow.editRow input.valid {
  border-color: green;
  background-color: rgba(0,210,0,0.2);
}

.domTable.editable .memberRow.editRow input.invalid {
  border-color: red;
  background-color: rgba(210,0,0,0.2);
}

.domTable.editable ul.suggestions {
  position: absolute;
  z-index: 9999;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
  border: 1px solid buttonshadow;
  cursor: default;
  text-align: left;
  list-style-type: none;
  overflow: hidden;
}

.domTable.editable ul.suggestions:hover {
  overflow: auto;
}

.domTable.editable ul.suggestions li {
  margin: 2px;
}
